<h1>
    {{ vm.hotel.name }} <hotel-rating stars="vm.stars"></hotel-rating>
</h1>
<p>
    {{ vm.hotel.location.address }}</br></br>
    {{ vm.hotel.description }}</br>
    <h4>
        Services
    </h4>
    <ul>
        <li ng-repeat="service in vm.hotel.services">{{ service }}</li>
    </ul>
    <h4>
        Reviews
    </h4>
    <ul>
        <li ng-repeat="review in vm.hotel.reviews">{{ review.name }}: {{ review.review }}</li>
    </ul>
</p>
<form name="vm.reviewForm" ng-submit="vm.addReview()">

    <label for="name">Name:</label></br>
    <input type="text" required name="name" ng-minlength="2" ng-model="vm.name" id="name"></br>
    <div ng-show="vm.reviewForm.name.$dirty && vm.reviewForm.name.$invalid && vm.isSubmitted">
        <p>Name should be more than 2 characters.</p>
    </div></br>

    <label for="rating">Rating:</label></br>
    <input type="number" required name="rating" ng-pattern="/^[1-5]$/" ng-model="vm.rating" id="rating"></br>
    <div ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">
        <p>Rating should be a number from 1 to 5.</p>
    </div></br>
    
    <label for="review">Review:</label></br>
    <textarea name="review" required ng-model="vm.review" id="review" ></textarea>
    <div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
        <p>A review is required.</p>
    </div></br>
    <button type="submit">Add review</button>
</form>