<div style="display: flex;flex-direction: column;width: 100%;height: 100%;">
    <div ng-if="vm.message" style="flex-basis: 5%;" class="alert alert-success">
        <p>{{ vm.message }}</p>
    </div>
    <div ng-if="vm.error" style="flex-basis: 5%;" class="alert alert-danger">
        <p>{{ vm.error }}</p>
    </div>
    <h1 style="flex-basis: 5%;text-align: center;vertical-align: middle;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Register
    </h1>
    <div ng-hide = "vm.message" style="display: flex;justify-content: center;align-items: center;flex-basis: 90%;">
        <form name="registerFrom" ng-submit="vm.register()" style="padding: 10px;border: 3px solid whitesmoke;width: 35%;height: fit-content;background-color: rgb(0, 0, 51);">
            <label for="username">Username:</label></br>
            <input type="username" required name="username" ng-model="vm.username" id="username" placeholder="Username"></br>

            <label for="name">Name:</label></br>
            <input type="username" required name="name" ng-model="vm.name" id="name" placeholder="Name"></br>

            <label for="password">Password:</label></br>
            <input type="password" required name="password" ng-model="vm.password" id="password" placeholder="Password"></br>

            <label for="repeatpass">Repeat Password:</label></br>
            <input type="password" required name="repeatpass" ng-model="vm.repeatpass" id="repeatpass" placeholder="Password"></br>

            <button type="submit" style="margin-top: 15px;">Register</button>
        </form>
    </div>
</div>